<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>About</title>
</head>
<body>
    
<header class="minorTitle">  About Alex Grey </header>



    <article class="about">

        <div class="text-about">
            <div>
                <h3>Life</h3>
                <h4>Grey was born on November 29, 1953, in Columbus, Ohio. Psychedelic and spiritual artist whose work encompassed the genres of painting, sculpture, and performance. He was a follower of Vajrayana and was generally linked with the New Age movement.</h4>
            </div>
            <div>
                <h3>Career</h3>
                <h4>Grey learned anatomy by working to prepare cadavers for dissection at Harvard Medical School's anatomy department, a position he held for five years. He worked as a medical illustrator for approximately ten years in order to support his studio art practice. Grey also taught anatomy and figure sculpture at New York University for a period of ten years.

                    <p>Grey is best known for his psychedelic paintings and illustrations. In 1986 Grey's artwork was exhibited at the New Museum in New York City.</p>
                    
                    Alex and Allyson Grey have worked collaboratively and have openly supported the use of entheogens. Mending the Heart Net, an interactive installation artwork by Alex and Allyson Grey, was displayed at Baltimore's American Visionary Art Museum in 1998–99 as part of the exhibition "Love: Error and Eros".
                    
                    <p>In 1999, the Museum of Contemporary Art San Diego held a mid-career retrospective of Grey's work titled "Sacred Mirrors: The Visionary Art of Alex Grey". That same year, Grey was noticed by guitarist Adam Jones of the progressive metal band Tool, who later featured his artwork on their albums Lateralus and 10,000 Days.</p>
                    
                    Illustrations created by Grey have been selected to appear on albums for musical groups such as the Beastie Boys and Nirvana, as well as Meshuggah and The String Cheese Incident. Newsweek magazine, and the Discovery Channel, have featured his artwork. His images have been printed onto sheets of blotter acid and have been used on flyers to promote Rave events.</h4>
            </div>
        </div>
        <img src="Grey-Bio.jpg">

    </article>

<nav> <a href="/home">Go back to the homepage</a> </nav>
    

</body>
</html>