<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Photo Gallery</title>
</head>
<body>

    <header class="minorTitle">Photo Gallery</header>
    
    <div>
    <img src="Alex-1974.jpeg" class="gallery-img">
    <img src="wedding.png" class="gallery-img">
    <img src="Tool-Cd-Cover.jpeg" class="gallery-img">
    <img src="signature.png" class="gallery-img">
    <img src="Creating-a-Better-World-Doors-by-Alex-Grey.png" class="gallery-img">
    <img src="Alex-Alyson.png" class="gallery-img">
    
    </div>


    
    <nav> <a href="/home">Go back to the homepage</a> </nav>

</body>
</html>